---
import Footer from '../components/Footer.astro';

import Portfolio from '../components/icons/Portfolio.astro'; 
import GitHub from '../components/icons/GitHub.astro'; 
import LinkedIn from '../components/icons/LinkedIn.astro'; 
import Mail from '../components/icons/Mail.astro'; 

const title = 'Linktree de Andres - Desarrollador y Programador Web';
const description = 'Bienvenido al Linktree de Andres Araque, un desarrollador y programador web.';
const keywords = 'Andres Araque, Desarrollo Web, Linktree';
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="canonical" href="https://andresaraque.com" />

  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    *, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Roboto', sans-serif;
      background-color: #000;
      color: #00ffcc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Asegúrate de que el body ocupe toda la altura */
      margin: 0;
      padding: 0;
      overflow: hidden; /* Evita el scroll */
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      overflow: hidden;
    }

    .background::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      opacity: 0.3;
      animation: moveBackground 10s linear infinite;
    }

    @keyframes moveBackground {
      from {
        background-position: 0 0;
      }
      to {
        background-position: 0 100%;
      }      
    }

    .container {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 20px 10px;
      border-radius: 20px;
      box-shadow: 0 0 15px #00ffcc;
      z-index: 1;
      max-width: 400px;
      width: 90%;/* Cambiado a 90% para tabletas */
      margin: auto; /* Asegura el centrado */
      position: relative;
      flex-grow: 0;
      margin-bottom: 120px;
      padding-bottom: 20px;
    }

    .profile {
      position: relative;
      margin-bottom: 30px;
    }

    .profile-img {
      width: 120px;
      max-width: 100%;
      border-radius: 50px;
      border: 4px solid #00ffcc;
      transition: transform 0.3s, box-shadow 0.3s;
      box-shadow: 0 0 15px #00ffcc, 0 0 20px #00ffcc;
    }

    .profile-img:hover {
      transform: scale(1.1);
      box-shadow: 0 0 20px #00ffcc, 0 0 70px #00ffcc;
    }

    h1 {
      font-size: 1.8rem;
      margin: 10px 0;
      color: #00ffcc;
      text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
    }

    p {
      color: #fff;
      margin-bottom: 20px;
      text-shadow: 0 0 10px #00ffcc;
    }

    .links a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #00ffccda;
      color: #000;
      padding: 10px;
      margin: 10px 0;
      border-radius: 12px;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      box-shadow: 0 0 10px #00ffccda;
      transition: background-color .3s, transform .3s, box-shadow .3s;
      animation: neonGlow 1.5s ease-in-out infinite alternate;
      max-width: 200px;
      width: 100%;
    }
    
    .links a .icono {
      margin-right: 10px;
      width: 24px;
      height: 24px;
    }

    @keyframes neonGlow {
      from {
        box-shadow: 0 0 10px #00ffccda;
      }
      to {
        box-shadow: 0 0 10px #00ffccda, 0 0 20px #00ffccda;
      }
    }

    .links a:hover {
      background-color: #15B392;
      transform: scale(1.05);
      box-shadow: 0 0 30px #00ffcc, 0 0 60px #00ffcc;
    }

    .links a:active {
      transform: scale(.98);
    }

    @media (min-width: 1024px) {
      .container {
        transform: scale(.7);
        max-width: 400px;
        padding: 20px;
      margin-bottom: 0px;
      }

      h1 {
        font-size: 1.6rem;
      }

      .links a {
        font-size: 1.1rem;
        padding: 10px;
      }
    }

    @media (max-width: 768px) {
      body {
        height: 100vh; /* Asegura que el body ocupe toda la pantalla */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centrar verticalmente */
        align-items: center; /* Centrar horizontalmente */
      }

      .container {
        max-width: 80%;
        margin: auto; /* Asegura el centrado horizontal */
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra verticalmente el contenido dentro del contenedor */
      }

      h1 {
        font-size: 1.5rem;
      }

      .links a {
        font-size: 1rem;
        padding: 12px;
        margin: 10px 0;
      }

      footer {
        padding: 15px;
      }
    }

    @media (max-width: 480px) {
      .container {
        margin: auto;
        max-width: 80%;
      }

      h1 {
        font-size: 1.2rem;
      }

      .links a {
        font-size: 0.9rem;
        padding: 8px;
      }

      .profile-img {
        width: 80px;
      }
    }

    /* Para navegadores Webkit (Chrome, Safari, Opera) */
    ::-webkit-scrollbar {
      width: 12px; /* Ancho del scrollbar */
    }

    ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.5); /* Color de fondo del track */
      border-radius: 10px; /* Esquinas redondeadas */
    }

    ::-webkit-scrollbar-thumb {
      background: #00ffcc; /* Color del thumb */
      border-radius: 10px; /* Esquinas redondeadas */
      transition: background 0.3s; /* Transición suave al pasar el mouse */
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #00d4ff; /* Color del thumb al pasar el mouse */
    }

    /* Para Firefox */
    * {
      scrollbar-width: thin; /* Hacer el scrollbar más delgado */
      scrollbar-color: #00ffcc rgba(0, 0, 0, 0.5); /* Color del thumb y del track */
    }
  </style>
</head>

<body>
  <div class="background"></div>
  
  <div class="container">
    <div class="profile">
      <img src="/formal.webp" alt="Profile Image" class="profile-img">
      <h1>Andres Araque</h1>
      <p>Backend Developer</p>
    </div>

    <div class="links">
      <a href="https://andresaraque.com/upcoming" target="_blank">
        <Portfolio class="icono" /> Portafolio
      </a>
      <a href="https://github.com/Mono-A3" target="_blank">
        <GitHub class="icono" /> GitHub
      </a>
      <a href="https://www.linkedin.com/in/araque-andres/" target="_blank">
        <LinkedIn class="icono" /> LinkedIn
      </a>
      <a href="mailto:aaraqueamaya397@gmail.com" target="_blank">
        <Mail class="icono" /> Contáctame
      </a>
    </div>
  </div>

  <Footer />
</body>
