<footer>
  <div class="footer-container">
    <p>&copy; 2024 Andres Araque. Todos los derechos reservados.</p>
    <p>
      <a href="https://andresaraque.com/privacy" target="_blank">Política de Privacidad</a> | 
      <a href="https://andresaraque.com/terms" target="_blank">Términos de Servicio</a>
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #00ffcc;
    text-align: center;
    padding: 20px; /* Aumenta el padding para más espacio */
    margin: 0;
    position: relative;
    z-index: 1;
    width: 100%;/* Asegúrate de que se empuje al final del contenido */
    border: none;
    box-shadow: none;
  }

  .footer-container {
    max-width: 400px; /* Mantén el ancho máximo */
    margin: auto; /* Centramos el footer */
    padding: 0;
  }

  .footer-container a {
    color: #00ffcc;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-container a:hover {
    color: #00d4ff;
  }

</style>
